 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

 * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 }

 body {
    width: 100%;
    height: 100vh;
    background: rgb(43,43,43);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 header {
    width: 60%;
    height: 80%;
    background: #131314;
 }  

header nav {
    width: 90%;
    height: 15%;
    /*border: 1px solid #fff;*/
    margin: auto;
    color: #fff698;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-shadow: 0px 0px 10px #97968a;
}

header nav .left .fas {
   font-size: 25px;
   animation: sun 3s linear infinite;
}

@keyframes sun {
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}

header nav .right .fas {
   margin-left: 15px;
}

header section{
   width: 90%;
   height: 85%;
   /*border: 1px solid #fff;*/
   margin: auto;
   display: flex;
}

header section .lefts ,.rights{
   width: 60%;
   height: 100%;
   /*border: 1px solid #fff;*/
   overflow: hidden;
}

header section .lefts{
   position: relative;
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
}

header section .lefts img{
   position: absolute;
   width: 450px;
   height: 500px;
   transition: all, .6s ease-in-out;
}

header section .rights{
   padding: 50px 0px 0px 60px;
   color: #fffac4;
}

header section .rights h1{
   font-size: 45px;
   line-height: 45px;
   margin-left: -5px;
}

header section .rights h6{
   font-size: 13px;
}

header section .rights .price{
   width: 250px;
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   font-size: 13px;
   font-weight: 500;
}

header section .rights .price2{
   width: 280px;
   display: flex;
   justify-content: space-between;
}

header section .rights .price2 h6{
  position: relative;
  width: 100px;
  height: 30px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dbd057;
  padding: 0px 5px;
  margin-top: 5px;
}

header section .rights .price2 h6 .fas{
   padding: 5px 6px;
   box-shadow: 0px 0px 6px #dbd057;
   border-radius: 20px;
}

header section .rights .price2 h6 span{
   color: #e6d738;
}

header section .rights .color{
   display: flex;
   margin: 10px 0px;
}

header section .rights .color h4{
   padding: 5px;
   margin-right: 15px;
   background: rgb(248, 255, 182);
   border-radius: 50%;
   box-shadow: 0px 0px 10px #ebe390;
   cursor: pointer;
}

header section .rights .color h4:nth-child(2){
   background: rgb(119, 226, 105);
   box-shadow: 0px 0px 10px #9feb90;
}

header section .rights .color h4:nth-child(3){
   background: rgb(105, 222, 226);
   box-shadow: 0px 0px 10px #90ebe7;
}

header section .rights .color h4:nth-child(4){
   background: rgb(226, 105, 216);
   box-shadow: 0px 0px 10px #eb90e7;
}

header section .rights p{
   font-size: 10px;
   word-break: break-all;
   color: #fcf6cc;
   margin-top: 10px;
}

header section .rights .cart{
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
   color: #fffac4;
}

header section .rights .cart h4{
   font-size: 16px;
   line-height: 20px;
}

header section .rights .cart h4 span{
   font-size: 11px;
}

header section .rights .cart button{
   padding: 8px 0px;
   width: 150px;
   border-radius: 20px;
   border: none;
   outline: none;
   background: #fff;
   color: #e6d738;
   box-shadow: 0px 0px 10px #ebe390;
}

header section .rights .cart button .fas{
   margin-right: 10px;
}